<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">

<head>
  <%- include('../../adminPanel-components/head.ejs') %>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">

    <!-- Navbar -->

    <%- include('../../adminPanel-components/nav-bar.ejs') %>


      <!-- /.navbar -->

      <!-- Main Sidebar Container -->

      <%- include('../../adminPanel-components/main-side-bar.ejs') %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

          <!-- Content Header (Page header) -->
          <%- include('../../adminPanel-components/content-header.ejs') %>
            <!-- /.content-header -->

            <!-----------------------------------------------The Changable Area--------------------------------------------------->

            <!-- Main content -->


            <section class="content">
              <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Create News !</h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                      <form method="post" action="/cms/auth/admin/categories/<%= data.category_id %>">
                        <input type="hidden" name="_method" value="put">
                        <div class="card-body">
                          <% if(locals.errors){ %>

                            <div class="alert alert-danger alert-dismissible">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                              <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                              <ul>
                                <% for(let error of locals.errors){ %>
                                  <li>
                                    <%= error.msg %>
                                  </li>
                                  <% } %>
                              </ul>
                            </div>

                            <% } %>

                          <div class="form-group">
                            <label for="FirstName">Category Name</label>
                            
                            <input type="text" class="form-control" id="FirstName" placeholder="Enter Category Name"
                              name="category_name" value="<%= data.category_name %>">
                          </div>

                        </div>


                        <!-- /.card-body -->
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </form>
                    </div>
                    <!-- /.card -->

                    <!-- general form elements -->


                  </div>

                </div>

              </div><!-- /.container-fluid -->
            </section>


            <!-- /.content -->

            <!-------------------------------------------------------------------------------------------------------------------->

        </div>

        <%- include('../../adminPanel-components/footer.ejs') %>


  </div>

  <!-- jQuery -->
  <%- include('../../adminPanel-components/scripts.ejs') %>
</body>

</html>