<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Contact
    <small>Subheading</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/cms/news">Home</a>
    </li>
    <li class="breadcrumb-item active">Contact</li>
  </ol>

  <!-- Content Row -->
  <div class="row">
    <!-- Map Column -->
    <div class="col-lg-8 mb-4">
      <!-- Contact Form -->

      <h3>Send us a Message</h3>
      <% if(locals.errors){ %>

        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h5><i class="icon fas fa-ban"></i> Alert!</h5>
          <ul>
            <% for(let error of locals.errors){ %>
              <li>
                <%= error.msg %>
              </li>
              <% } %>
          </ul>
        </div>

        <% } %>

          <% if(locals.message){ %>
            <div class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h5><i class="icon fas fa-check"></i> Alert!</h5>
              <%= locals.message %>
            </div>
            <% } %>

            <form method="post" action="/cms/contact">
              <div class="control-group form-group">
                <div class="controls">
                  <label>Full Name:</label>
                  <input type="text" class="form-control" id="name" name="gst_full_name"
                    value="<%= locals.old?.gst_full_name %>">
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label>Phone Number:</label>
                  <input type="tel" class="form-control" id="phone" name="gst_phone"
                    value="<%= locals.old?.gst_phone %>">
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label>Email Address:</label>
                  <input type="email" class="form-control" id="email" name="gst_email"
                    value="<%= locals.old?.gst_email %>">
                </div>
              </div>
            
              <div class="control-group form-group">
                <div class="controls">
                  <label>Message:</label>
                  <textarea rows="10" cols="100" class="form-control" id="message" name="guest_message"
                    style="resize:none"><%= locals.old?.guest_message %></textarea>
                </div>
              </div>
              <div id="success"></div>
              <!-- For success/fail messages -->
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>
            </form>
            
    </div>
    <!-- Contact Details Column -->
    <div class="col-lg-4 mb-4">
      <h3>Contact Details</h3>
      <p>
        3481 Melrose Place
        <br>Beverly Hills, CA 90210
        <br>
      </p>
      <p>
        <abbr title="Phone">P</abbr>: (123) 456-7890
      </p>
      <p>
        <abbr title="Email">E</abbr>:
        <a href="mailto:name@example.com">name@example.com
        </a>
      </p>
      <p>
        <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
      </p>
    </div>
  </div>
  <!-- /.row -->



  <!-- /.row -->

</div>